@{
    ViewBag.Title = "About";
}

    <h2>@ViewBag.Title</h2>

<p>
    E-Commerce, Inc. often referred to as simply E-Com, is an Irish startup electronic commerce and cloud computing company.
    <br> With headquarters in Dublin Ireland, it is one of the fastst growing Internet-based retailer in the country.
    <br><br>E-Com also offers international shipping to other countries for selected products.
</p>

<br>

<img src="https://media.licdn.com/mpr/mpr/p/4/005/08c/20c/34306f1.jpg" alt="Shipping-Img" style="width:70%;height:60%;">