@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Join Us!</h1>
    <p class="lead">Join Us by Registering to Receive Exclusive Info and Features</p>
    <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Register Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Check out our Customers page</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">View Customers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>Check out our Products page</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">View Products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Suppliers</h2>
        <p>Check out our Suppliers page</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">View Suppliers &raquo;</a></p>
    </div>
</div>