<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://e-commerce-ncirl.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>e-commerce-ncirl.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>E-commerce-ncirl</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$E-commerce-ncirl</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EcommerceContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:kptx7hreki.database.windows.net,1433;Initial Catalog=EcommerceDB;User ID=x13729979@kptx7hreki;Password=jj2246MM" Name="Data Source=tcp:kptx7hreki.database.windows.net,1433;Initial Catalog=EcommerceDB;User Id=x13729979@kptx7hreki;Password=jj2246MM" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-E-commerce-20151209101534.mdf;Initial Catalog=aspnet-E-commerce-20151209101534;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EcommerceContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-E-commerce-20151209101534.mdf;Initial Catalog=aspnet-E-commerce-20151209101534;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EcommerceContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kptx7hreki.database.windows.net,1433;Initial Catalog=EcommerceDB;User Id=x13729979@kptx7hreki;Password=jj2246MM</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>